[Unit]
Description=Ordle service
Documentation=https://github.com/etcd-io/etcd
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=simple
Environment=KUBECONFIG=/etc/ordiri.conf

ExecStartPre=/bin/sh -c "/usr/bin/killall --wait ordiri-metadata || true"
ExecStartPre=/bin/sh -c "/usr/bin/killall --wait dnsmasq || true"
ExecStartPre=/bin/sh -c "/usr/bin/rm -rf /run/ordiri || true"
ExecStart=/usr/local/bin/ordlet -zap-log-level=5
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target