{
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

:80 {
  respond /live 200
  respond /ready 200
}

:443 {
    root * /opt/blogposts
    tls /opt/blog-tls/tls.crt /opt/blog-tls/tls.key

    # Templates give static sites some dynamic features
    templates
    
    # Compress responses according to Accept-Encoding headers
    encode gzip zstd
    
    # Make HTML file extension optional
    try_files {path}.html /opt/blogposts/{path}
    
    # Serve everything else from the file system
    file_server
}