

:443 {
  root * /opt/blog
  tls /opt/blog-tls/tls.crt /opt/blog-tls/tls.key

  # Compress responses according to Accept-Encoding headers
  encode gzip zstd
  
  # Make HTML file extension optional
  try_files {path}.html /opt/blog/{path}
  
  # Serve everything else from the file system
  file_server

  cors
}

:80 {
  respond /live 200
  respond /ready 200
}