{
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

:80 {
  respond /live 200
  respond /ready 200
}

blog.dmann.dev, blog.dmann.xyz, dmann.xyz, dmann.xyz {
    root * /opt/blogposts

    # Templates give static sites some dynamic features
    templates
    
    # Compress responses according to Accept-Encoding headers
    encode gzip zstd
    
    # Make HTML file extension optional
    try_files {path}.html /opt/blogposts/{path}
    
    # Serve everything else from the file system
    file_server
}