[Unit]
Description=Get the unseal token
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c /sbin/fetch-unseal-token.sh
Restart=on-failure
RestartSec=2