

:443 {
  root * /opt/blogposts
  tls /opt/workshop-tls/tls.crt /opt/workshop-tls/tls.key

  # Templates give static sites some dynamic features
  templates
  
  # Compress responses according to Accept-Encoding headers
  encode gzip zstd
  
  # Make HTML file extension optional
  try_files {path}.html /opt/workshop/{path}
  
  # Serve everything else from the file system
  file_server
}

:80 {
  respond /live 200
  respond /ready 200
}