[Unit]
Description=Unseal vault
Requires=vault.service
After=vault.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c /sbin/insecure-unseal-vault.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target