[Unit]
Description=Unseal vault
Wants=vault.service
After=vault.service
BindsTo=vault.service

[Service]
ExecStart=/bin/bash -c /sbin/insecure-unseal-vault.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target