[Unit]
Description=Vault root mount
Before=vault.service  

[Mount]
What=/dev/disk/by-uuid/$UUID
Where=/vault/root
Type=ext4
Options=defaults

[Install]
RequiredBy=vault.service