[Unit]
Description=Vault TLS setup
Before=vault.service
After=vault-root.mount
Requires=vault-root.mount

[Service]
Type=oneshot
ExecStart=/bin/bash -c /sbin/vault-tls-configure.sh
Restart=on-failure
RestartSec=5

[Install]
RequiredBy=vault.service